.pagination-container{
    display: flex;
    justify-content: space-between;
}

.pagination-container__button{
    width: 200px;
    background-color: white;
    border: 1px solid transparent;
    padding: 13px 5px;
    margin: 10px;
}

@media screen and (max-width: 480px){
    .pagination-container{
        zoom: 80%;
    }
    
    .pagination-container__button{
        zoom: 80%;
    }
}